<div class="flex items-start flex-col md:flex-row md:items-center md:gap-1">
  <a routerLink="/" class="button plain gap-2">
    <mat-icon svgIcon="beaker" class="text-primary-500 !opacity-100" />

    <span class="!opacity-100">
      <strong>Algorithms</strong>
    </span>
  </a>

  @if(category) {
  <small class="opacity-50 mx-1 animate-appear hidden md:flex">&gt;</small>

  <a
    routerLink="/"
    class="button plain text-slate-500 hover:text-slate-700 animate-appear gap-2 text-sm"
  >
    <mat-icon [svgIcon]="category.icon" />

    <span>{{ category.name }}</span>
  </a>
  } @if(algorithm) {
  <small class="opacity-50 mx-1 animate-appear hidden md:flex">&gt;</small>

  <a
    [routerLink]="'/algorithm/' + algorithm.id"
    class="button plain text-slate-500 hover:text-slate-700 animate-appear gap-2 text-sm"
  >
    <mat-icon [svgIcon]="algorithm.icon" />

    <span>{{ algorithm.name }}</span>
  </a>
  }
</div>

<div class="flex items-center gap-2 ms-auto print:hidden">
  <!-- print -->
  <button (click)="print()" title="Print" class="button plain">
    <mat-icon name="print" />
  </button>
</div>
