
:host
  border-radius: var(--radius)
  display: inline-flex
  padding: 8px
  position: relative
  user-select: none

  &:hover
    .placeholder svg-icon
      scale: 1.2

  &.dragging-vertex
    cursor: grabbing

    .vertex, .edge, .name
      pointer-events: none

  &.ready-to-draw-edge
    .vertex
      cursor: alias

  &.drawing-edge
    cursor: crosshair

  > main
    pointer-events: none

.placeholder
  align-items: center
  display: flex
  flex-direction: column
  gap: 16px
  inset: 0
  justify-content: center
  opacity: .4
  padding: 16px
  pointer-events: none
  position: absolute

  svg-icon
    font-size: 32px
    opacity: .3

  span
    display: block
    font-size: 14px
    line-height: 1.5em
    text-align: center

.edge
  display: block
  position: absolute
  pointer-events: none

  svg
    display: block

    line
      stroke: var(--text)
      stroke-width: 2px

.vertex
  align-items: center
  background: var(--background-accent)
  border: 1px solid var(--border)
  border-radius: 50%
  cursor: grab
  display: flex
  font-size: 12px
  height: var(--vertex-size, 24px)
  justify-content: center
  padding: 4px
  position: absolute
  translate: -50% -50%
  width: var(--vertex-size, 24px)

  > span
    pointer-events: none

.name
  all: unset

  font-size: 14px
  left: 8px
  opacity: .5
  position: absolute
  text-transform: capitalize
  text-overflow: ellipsis
  top: 8px
  width: 40%
