<!-- input -->
<app-section header="Input" icon="channel">
  <!-- clear -->
  <button
    actions
    *ngIf="graph.vertices.length > 0"
    (click)="clear()"
    class="button placeholder clear"
  >
    <svg-icon name="trash"></svg-icon>
    <span>Clear</span>
  </button>

  <div class="input">
    <app-graph [graph]="graph" [editable]="true"></app-graph>

    <button
      *ngIf="canCalculate"
      (click)="calculateKruskalTree()"
      class="button vertical placeholder calculate"
    >
      <svg-icon name="channel"></svg-icon>
      <span>Calculate</span>
    </button>
  </div>
</app-section>

<!-- solution -->
<app-section *ngIf="steps.length" header="Solution" icon="wrapText">
  <div class="steps">
    <app-step
      *ngFor="let step of steps"
      [header]="step.feasibility"
      [icon]="step.feasibilityCheck ? 'check' : 'times'"
    >
      <app-graph [graph]="step.selection.tree" [editable]="false"></app-graph>
    </app-step>
  </div>
</app-section>

<!-- output -->
<app-section *ngIf="spanningTree" header="Output" icon="out">
  <app-graph
    *ngIf="spanningTree"
    [graph]="spanningTree"
    [editable]="false"
  ></app-graph>

  <app-graph
    *ngIf="changeGraph"
    [graph]="changeGraph"
    [editable]="false"
  ></app-graph>
</app-section>
