<a
  [routerLink]="'algorithm/' + algorithm.id"
  [class.hovered]="hovered"
  (mousemove)="onMouseMove($event)"
  (mouseleave)="onMouseLeave()"
  class="card"
>
  <div class="background">
    @for(color of colors; track color) {
    <div [style.left]="position.x" [style.top]="position.y" class="shape">
      <svg-icon [style.--color]="color" name="filledSquare"></svg-icon>
    </div>
    }
  </div>

  <svg-icon [name]="algorithm.icon"></svg-icon>

  <div class="content">
    <header>
      <h3>
        <svg-icon [name]="algorithm.icon"></svg-icon>
        <span>{{ algorithm.name }}</span>
      </h3>
    </header>

    <p>{{ algorithm.description }}</p>
  </div>
</a>
