<!-- input -->
<app-section header="Input" icon="channel">
  <!-- clear -->
  @if(graph.vertices.length) {
  <button actions (click)="clear()" class="button placeholder clear">
    <svg-icon name="trash"></svg-icon>
    <span>Clear</span>
  </button>
  }

  <div class="input">
    <app-graph
      [graph]="graph"
      [editable]="true"
      (edit)="onInputEdit()"
    ></app-graph>

    @if(canCalculate) {
    <button
      (click)="calculateKruskalTree()"
      class="button vertical placeholder calculate"
    >
      <svg-icon name="channel"></svg-icon>
      <span>Calculate</span>
    </button>
    }
  </div>
</app-section>

<!-- solution -->
@if(steps.length) {
<app-section header="Solution" icon="wrapText">
  <div class="steps">
    @for(step of steps; track step.step) {
    <app-step
      [header]="step.feasibility"
      [icon]="step.feasibilityCheck ? 'check' : 'times'"
    >
      <app-graph [graph]="step.selection.tree" [editable]="false"></app-graph>
    </app-step>
    }
  </div>
</app-section>
}

<!-- output -->
@if(spanningTree) {
<app-section header="Output" icon="out">
  <app-step header="Minimum spanning tree" icon="channel">
    <div class="output">
      <app-graph [graph]="spanningTree" [editable]="false"></app-graph>

      @if(changeGraph) {
      <app-graph [graph]="changeGraph" [editable]="false"></app-graph>
      }

      <app-step header="Total weight" icon="weight">
        <strong>{{ spanningTree.totalWeight }}</strong>
      </app-step>
    </div>
  </app-step>
</app-section>
}
