<!-- input -->
<app-section header="Input" icon="channel">
  <!-- clear -->
  @if(graph.vertices.length) {
  <button actions (click)="clear()" class="button placeholder clear">
    <mat-icon svgIcon="trash" />
    <span>Clear</span>
  </button>
  }

  <div class="input">
    <app-graph
      [graph]="graph"
      [editable]="true"
      (edit)="onInputEdit()"
    ></app-graph>

    @if(canCalculate) {
    <button
      (click)="calculateKruskalTree()"
      class="button vertical placeholder calculate"
    >
      <mat-icon svgIcon="channel" />
      <span>Calculate</span>
    </button>
    }
  </div>
</app-section>

<!-- solution -->
@if(steps.length) {
<app-section header="Solution" icon="wrapText">
  <div class="steps">
    @for(step of steps; track step.step) {
    <app-step
      [header]="step.feasibility"
      [icon]="step.feasibilityCheck ? 'check' : 'times'"
    >
      <app-graph [graph]="step.selection.tree" [editable]="false"></app-graph>
    </app-step>
    }
  </div>
</app-section>
}

<!-- output -->
@if(spanningTree) {
<app-section header="Output" icon="out">
  <app-step header="Minimum spanning tree" icon="channel">
    <div class="output">
      <app-graph [graph]="spanningTree" [editable]="false"></app-graph>

      @if(changeGraph) {
      <app-graph [graph]="changeGraph" [editable]="false"></app-graph>
      }

      <app-step header="Total weight" icon="weight">
        <strong>{{ spanningTree.totalWeight }}</strong>
      </app-step>
    </div>
  </app-step>
</app-section>
}

<app-section header="Useful Links" icon="link">
  <ol class="list-disc list-inside">
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Kruskal%27s_algorithm"
        target="_blank"
        class="text-sky-600 hover:text-sky-800"
      >
        <span>Wikipedia - English</span>
      </a>
    </li>

    <li>
      <a
        href="https://fa.wikipedia.org/wiki/%D8%A7%D9%84%DA%AF%D9%88%D8%B1%DB%8C%D8%AA%D9%85_%DA%A9%D8%B1%D8%A7%D8%B3%DA%A9%D8%A7%D9%84"
        target="_blank"
        class="text-sky-600 hover:text-sky-800"
      >
        <span>Wikipedia - Persian</span>
      </a>
    </li>
  </ol>
</app-section>
