<app-section header="Array" icon="list">
  <div class="input">
    <app-array [input]="input" [editable]="true" name="input"></app-array>

    <button (click)="sort()" class="button placeholder sort">
      <svg-icon name="sort"></svg-icon>
      <span>Sort</span>
    </button>
  </div>
</app-section>

@if(result) {
<app-section header="Sort" icon="sort">
  <div class="steps">
    @for(step of steps; track step.index) {
    <app-step>
      <div class="arrays">
        @for(array of step.data; track $index) {
        <app-array [input]="array"></app-array>
        }
      </div>
    </app-step>
    }
  </div>
</app-section>
} @if(result) {
<app-section header="Sorted array" icon="out">
  <app-array [input]="result" name="Sorted"></app-array>
</app-section>
}
