<app-section header="Array" icon="list">
  <div class="input">
    <app-array [input]="input" [editable]="true" name="input"></app-array>

    <button (click)="search()" class="button placeholder search">
      <svg-icon name="search"></svg-icon>
      <span>Search</span>
    </button>
  </div>
</app-section>

@if(steps.length) {
<app-section header="Solution" icon="wrapText" class="solution">
  <div class="steps">
    @for(step of steps; track step.index) {
    <app-step
      [header]="'Step ' + (step.index + 1) + '- Searching for ' + target"
      [icon]="step.icon || ''"
    >
      <div class="step">
        <p>{{ step.description }}</p>

        @if(step.data) {
        <app-array
          [input]="step.data.value"
          [name]="step.data.name"
        ></app-array>
        }
      </div>
    </app-step>
    }
  </div>
</app-section>
}
