<modal-card header="Add Coin" description="Push new coins to existing coins">
  <section class="coins">
    @for(coin of coins; track $index) {
    <app-coin [amount]="coin.amount" [size]="coin.size"></app-coin>
    }
  </section>

  <section>
    <form-group (enter)="addCoin()" name="Coin">
      <form-label label="Amount" target="amount">
        <input
          [(ngModel)]="amount"
          autofocus
          id="amount"
          autocomplete="off"
          min="1"
          max="999"
          type="number"
        />
      </form-label>

      <form-label label="Count" target="count">
        <input
          [(ngModel)]="count"
          id="count"
          autocomplete="off"
          min="1"
          max="10"
          type="number"
        />
      </form-label>

      <form-label label="Size" target="size">
        <input
          [(ngModel)]="size"
          id="size"
          autocomplete="off"
          min="1"
          max="5"
          type="number"
        />
      </form-label>
    </form-group>
  </section>

  <ng-container footer>
    <button (click)="modal.close()" class="button neutral">
      <span>Cancel</span>
    </button>

    <button (click)="addCoin()" class="button text-primary-500 filled">
      <span>Add coin</span>
    </button>
  </ng-container>
</modal-card>
