<main>
  @if(showAxis) {
  <div class="indexes x">
    <span></span>
    @for(i of xIndexes; track $index) {
    <div>
      <span
        [class.hovered]="i === hoveredCell?.x"
        [class.focused]="i === focusedCell?.x"
      >
        {{ i === undefined ? "" : i + 1 }}
      </span>
    </div>
    }
  </div>
  }

  <div>
    @if(showAxis) {
    <div class="indexes y">
      @for(i of yIndexes; track $index) {
      <div>
        <span
          [class.hovered]="i === hoveredCell?.y"
          [class.focused]="i === focusedCell?.y"
        >
          {{ i === undefined ? "" : i + 1 }}
        </span>
      </div>
      }
    </div>
    }

    <div class="matrix" (mouseleave)="resetHoveredCell()">
      @for(row of viewRows; track row.index) {
      <div [class]="row.className" class="row">
        @for(cell of row.cells; track $index) {
        <input
          [ngModel]="cell.value ?? ''"
          [title]="cell.title"
          [type]="cell.type"
          [class]="cell.className"
          [readonly]="readOnly"
          [placeholder]="readOnly ? '◌' : '⬚'"
          (change)="updateValue(cell.position, $event)"
          (mouseenter)="onCellHover(cell.position)"
          (focus)="onCellFocus(cell.position)"
          (blur)="resetFocusedCell()"
          class="col"
        />
        }
      </div>
      }
    </div>
  </div>
</main>

@if(showDetails) {
<footer>
  @if(matrix.name) {
  <div class="name">{{ matrix.name }}</div>
  }

  <div class="size">
    <span class="y">{{ matrix.y }}</span>
    <span>⨉</span>
    <span class="x">{{ matrix.x }}</span>
  </div>
</footer>
}
