<main>
  <div *ngIf="showAxis" class="indexes x">
    <span></span>
    <div *ngFor="let i of xIndexes">
      <span
        [class.hovered]="i === hoveredCell?.x"
        [class.focused]="i === focusedCell?.x"
      >
        {{ i === undefined ? "" : i + 1 }}
      </span>
    </div>
  </div>

  <div>
    <div *ngIf="showAxis" class="indexes y">
      <div *ngFor="let i of yIndexes">
        <span
          [class.hovered]="i === hoveredCell?.y"
          [class.focused]="i === focusedCell?.y"
        >
          {{ i === undefined ? "" : i + 1 }}
        </span>
      </div>
    </div>

    <div class="matrix" (mouseleave)="resetHoveredCell()">
      <div
        *ngFor="let row of viewRows; trackBy: trackByRow"
        [class]="row.className"
        class="row"
      >
        <input
          *ngFor="let cell of row.cells; trackBy: trackByColumn"
          [value]="cell.value === undefined ? '' : cell.value"
          [title]="cell.title"
          [type]="cell.type"
          [class]="cell.className"
          [readonly]="readOnly"
          (change)="updateValue(cell.position, $event)"
          (mouseenter)="onCellHover(cell.position)"
          (focus)="onCellFocus(cell.position)"
          (blur)="resetFocusedCell()"
          class="col"
          [placeholder]="readOnly ? '◌' : '⬚'"
        />
      </div>
    </div>
  </div>
</main>

<footer *ngIf="showDetails">
  <div *ngIf="matrix.name" class="name">{{ matrix.name }}</div>

  <div class="size">
    <span class="y">{{ matrix.y }}</span>
    <span>⨉</span>
    <span class="x">{{ matrix.x }}</span>
  </div>
</footer>
