<!-- input -->
<app-section header="Input" icon="channel">
  <!-- clear -->
  @if(graph.vertices.length) {
  <button actions (click)="clear()" class="button placeholder clear">
    <mat-icon svgIcon="trash" />
    <span>Clear</span>
  </button>
  }

  <div class="input">
    <app-graph
      [graph]="graph"
      [editable]="true"
      (edit)="onInputEdit()"
    ></app-graph>

    @if(canCalculate) {
    <button
      (click)="calculatePrimTree()"
      class="button vertical placeholder calculate"
    >
      <mat-icon svgIcon="channel" />
      <span>Calculate</span>
    </button>
    }
  </div>
</app-section>

<!-- solution -->
@if(steps.length) {
<app-section header="Solution" icon="wrapText">
  <div class="steps">
    @for(step of steps; track step.step) {
    <app-step [header]="'Step ' + step.step" icon="infoCircle">
      <div class="step">
        <app-graph [graph]="step.selection.tree" [editable]="false"></app-graph>

        <main class="steps">
          <app-step header="Selected nodes" icon="checkedCircle">
            <div class="vertices">
              @for(vertex of step.selection.vertices; track vertex.index) {
              <app-vertex
                (mouseenter)="onVertexMouseEnter(step.selection.tree, vertex)"
                (mouseleave)="onVertexMouseLeave(step.selection.tree, vertex)"
                [vertex]="vertex"
              ></app-vertex>
              }
            </div>
          </app-step>

          <app-step header="Available edges" icon="exchange">
            <div class="edges">
              @for(edge of step.selection.edges; track $index) {
              <div
                [class.color-success]="step.selection.edge === edge"
                [class.color-danger]="step.selection.edge !== edge"
                (mouseenter)="onEdgeMouseEnter(step.selection.tree, edge)"
                (mouseleave)="onEdgeMouseLeave(step.selection.tree, edge)"
                class="edge"
              >
                <app-vertex [vertex]="edge.v1"></app-vertex>
                <div class="weight">
                  <span>{{ edge.weight }}</span>
                </div>
                <app-vertex [vertex]="edge.v2"></app-vertex>
              </div>
              }
            </div>
          </app-step>
        </main>
      </div>
    </app-step>
    }
  </div>
</app-section>
}

<!-- output -->
@if(spanningTree) {
<app-section header="Output" icon="out">
  <app-step header="Minimum spanning tree" icon="channel">
    <div class="output">
      @if(spanningTree) {
      <app-graph [graph]="spanningTree" [editable]="false"></app-graph>
      } @if(changeGraph) {
      <app-graph [graph]="changeGraph" [editable]="false"></app-graph>
      }

      <app-step header="Total weight" icon="weight">
        <strong>{{ spanningTree.totalWeight }}</strong>
      </app-step>
    </div>
  </app-step>
</app-section>
}

<app-section header="Useful Links" icon="link">
  <ol class="list-disc list-inside">
    <li>
      <a
        href="https://en.wikipedia.org/wiki/Prim%27s_algorithm"
        target="_blank"
        class="text-sky-600 hover:text-sky-800"
      >
        <span>Wikipedia - English</span>
      </a>
    </li>

    <li>
      <a
        href="https://fa.wikipedia.org/wiki/%D8%A7%D9%84%DA%AF%D9%88%D8%B1%DB%8C%D8%AA%D9%85_%D9%BE%D8%B1%DB%8C%D9%85"
        target="_blank"
        class="text-sky-600 hover:text-sky-800"
      >
        <span>Wikipedia - Persian</span>
      </a>
    </li>
  </ol>
</app-section>
