
.button
  @apply inline-flex items-center bg-transparent border-0 cursor-pointer gap-1 isolate py-1 px-2 relative
  --button-opacity: .05
  --button-hover-opacity: .1
  --button-active-opacity: .2

  border-radius: var(--radius)
  font-size: inherit

  &:hover
    --button-opacity: var(--button-hover-opacity)

  &:active
    --button-opacity: var(--button-active-opacity)

  &.filled
    --button-opacity: 1
    --button-hover-opacity: .9

    > mat-icon, > span
      @apply text-neutral-50 dark:text-neutral-950

  &.plain
    --button-opacity: 0
    --button-hover-opacity: 0
    --button-active-opacity: 0

    &:hover > *
      @apply opacity-100

    > *
      @apply opacity-75

  &::before
    @apply bg-current block inset-0 pointer-events-none absolute transition-all -z-10
    border-radius: inherit
    content: ''
    opacity: var(--button-opacity)

  > span
    @apply me-2 leading-tight

    &:only-child
      @apply mx-2
