
:root
  --background: #f6f5ec
  --background-accent: #fff
  --border: #dad9d1
  --border-accent: #c8c7c0
  --primary: #46b4cd
  --accent: #3fba73
  --success: #3fba73
  --danger: #ba3340
  --warning: #bfba42
  --text: #020201
  --text-accent: #6a6a6a

  // --background: #020201
  // --background-accent: #221
  // --border: #35351a
  // --border-accent: #464622
  // --primary: #46b4cd
  // --accent: #3fba73
  // --danger: #ba3340
  // --text: #f6f5ec

  --radius: 12px

.color-primary
  color: var(--primary)

.color-success
  color: var(--success)

.color-danger
  color: var(--danger)
