
:root
  --background: #f8f9fc
  --background-accent: #fff

  --border: #ecebec
  --border-accent: #c8c7c0

  --primary: #46b4cd
  --accent: #3fba73

  --info: #46b4cd
  --success: #3fba73
  --danger: #ba3340
  --warning: #bfba42

  --text: #3d3f41
  --text-accent: #6a6a6a

  --text-selection: #3fba734d
  --radius: 10px

.color-primary
  color: var(--primary)

.color-success
  color: var(--success)

.color-danger
  color: var(--danger)
