<!-- coins -->
<app-section header="Available coins" icon="coin">
  <!-- clear -->
  @if(coins.length) {
  <button actions (click)="clear()" class="button placeholder clear">
    <mat-icon svgIcon="trash" />
    <span>Clear</span>
  </button>
  }

  <!-- coins -->
  <div class="coins">
    @for(coin of sortedCoins; track coin) {
    <app-coin [amount]="coin.amount" [size]="coin.size"></app-coin>
    }

    <button (click)="addCoin()" class="button vertical placeholder">
      <mat-icon svgIcon="coin" />
      <span>Add coin</span>
    </button>

    @if(sortedCoins.length) {
    <button
      (click)="change()"
      class="button vertical placeholder calculate-change"
    >
      <mat-icon svgIcon="circleLayer" />
      <span>Change</span>
    </button>
    }
  </div>
</app-section>

<!-- changing -->
@if(changedCoins.length) {
<app-section
  [header]="'Changing \'' + target + '\''"
  icon="circleLayer"
  class="changing"
>
  <div class="steps">
    @for(step of changedCoins; track step.step) {
    <app-step [header]="'step ' + (step.step + 1)" icon="coin">
      <div class="content">
        <section class="selection">
          <header>
            <span>Selection</span>
          </header>

          <main class="coins">
            @for(coin of step.selection; track coin) {
            <app-coin [amount]="coin.amount" [size]="coin.size"></app-coin>
            }
          </main>
        </section>

        <section class="check">
          <header>
            @if(step.feasibilityCheck) {
            <mat-icon svgIcon="check" class="color-success" />
            } @else {
            <mat-icon svgIcon="times" class="color-danger" />
            }

            <span
              [class.color-success]="step.feasibilityCheck"
              [class.color-danger]="!step.feasibilityCheck"
            >
              Feasibility check
            </span>
          </header>

          <main>{{ step.feasibility }}</main>
        </section>

        <section class="check">
          <header>
            @if(step.solutionCheck) {
            <mat-icon svgIcon="check" class="color-success" />
            } @else {
            <mat-icon svgIcon="times" class="color-danger" />
            }

            <span
              [class.color-success]="step.solutionCheck"
              [class.color-danger]="!step.solutionCheck"
            >
              Solution check
            </span>
          </header>

          <main>{{ step.solution }}</main>
        </section>
      </div>
    </app-step>
    }
  </div>
</app-section>
}

<!-- Result -->
@if(solution) {
<app-section header="Result" icon="out" class="result">
  <div class="steps">
    <!-- selected coins -->
    <app-step header="Selected coins" icon="coin">
      <div class="coins preview">
        @for(coin of solution.selection; track coin) {
        <app-coin [amount]="coin.amount" [size]="coin.size"></app-coin>
        }
      </div>
    </app-step>

    <!-- solution -->
    <app-step header="Solution" [icon]="problemSolved ? 'check' : 'times'">
      @if(problemSolved) {
      <div class="note color-success">
        Problem was solved in {{ this.changedCoins.length }} steps!
      </div>
      } @else {
      <div class="note color-danger">
        Problem was not solved after {{ this.changedCoins.length }} steps!
      </div>
      }
    </app-step>
  </div>
</app-section>
}

<!-- notes -->
<app-section header="Notes" icon="landscapeFile" class="notes">
  Some content will be here soon!
</app-section>
