<header>
  <h1>Design Algorithms</h1>
  <h2>
    By
    <a href="https://github.com/rahmaniali-ir" target="_blank">Ali Rahmani</a>
    &
    <a href="https://github.com/hossein-no1" target="_blank">
      Hossein Panahandeh
    </a>
  </h2>
</header>

<main>
  <project-card
    *ngFor="let project of projects"
    [project]="project"
  ></project-card>
</main>

<footer>
  <span>Made with</span>
  <svg-icon name="heart"></svg-icon>
  <span>At</span>
  <a href="https://www.khayyam.ac.ir/" target="_blank">Khayyam University</a>
  <span>2023</span>
</footer>
