<header>
  <h1>Design Algorithms</h1>
  <h2>
    By
    <a href="https://github.com/rahmaniali-ir" target="_blank" class="ali">
      Ali Rahmani
    </a>
    &
    <a href="https://github.com/hossein-no1" target="_blank" class="hossein">
      Hossein Panahandeh
    </a>
  </h2>
</header>

<main>
  <project-card
    *ngFor="let project of projects"
    [project]="project"
  ></project-card>
</main>

<footer>
  <a
    href="https://github.com/rahmaniali-ir/algorithms/issues"
    target="_blank"
    class="feedback"
  >
    <svg-icon name="bug"></svg-icon>
    <span>Send feedback or report issues</span>
  </a>

  <main>
    <span>Made with</span>
    <svg-icon name="heart"></svg-icon>
    <span>At</span>
    <a href="https://www.khayyam.ac.ir/" target="_blank">Khayyam University</a>
    <span>2023</span>
  </main>

  <div class="powered-by">
    <span>Powered by</span>
    <a href="https://angular.io/" target="_blank" title="Angular">
      <svg-icon name="angular"></svg-icon>
    </a>
  </div>
</footer>
