<div class="container mx-auto px-4">
  <header class="flex flex-col py-8 gap-1">
    <mat-icon
      svgIcon="beaker"
      class="text-primary-500 !opacity-100 text-4xl animate-attract"
    />

    <h1 class="text-3xl font-bold">Design Algorithms</h1>
    <p class="opacity-75">Learn by Doing: Visualize Algorithms in Real Time</p>

    <div
      class="flex items-center gap-8 my-6 p-4 rounded-xl bg-slate-50 flex-wrap"
    >
      <div class="flex items-start gap-2 flex-1">
        <mat-icon svgIcon="airPlay" class="text-2xl" />

        <div class="flex flex-col">
          <strong>Input</strong>

          <small>Provide input values</small>
        </div>
      </div>

      <div class="flex items-start gap-2 flex-1">
        <mat-icon svgIcon="atom" class="text-2xl" />

        <div class="flex flex-col">
          <strong>Process</strong>

          <small>Processing data step-by-step</small>
        </div>
      </div>

      <div class="flex items-start gap-2 flex-1">
        <mat-icon svgIcon="presentation" class="text-2xl" />

        <div class="flex flex-col">
          <strong>Output</strong>

          <small>See the result of the algorithm</small>
        </div>
      </div>

      <div class="flex items-start gap-2 flex-1">
        <mat-icon svgIcon="print" class="text-2xl" />

        <div class="flex flex-col">
          <strong>Print</strong>

          <small>Save the solution!</small>
        </div>
      </div>
    </div>
  </header>

  <main>
    <app-algorithms />
  </main>
</div>
