<a
  href="https://github.com/rahmaniali-ir/algorithms/issues"
  target="_blank"
  class="flex items-center gap-2 print:hidden opacity-75 hover:opacity-100"
>
  <mat-icon svgIcon="bug" />
  <span>Send feedback or report issues</span>
</a>

<main class="hidden flex-wrap w-full gap-1 print:flex">
  <span>Saved from</span>

  <div class="text-primary-500">https://rahmaniali-ir.github.io/algorithms</div>

  <span class="opacity-75 ms-auto block">{{ date }}</span>
</main>

<main class="flex flex-wrap gap-1 print:hidden mx-auto">
  <span>Made By</span>

  <a
    href="https://github.com/rahmaniali-ir"
    target="_blank"
    class="text-primary-500"
  >
    Ali Rahmani
  </a>

  <span>At</span>

  <a href="https://www.khayyam.ac.ir/" target="_blank">Khayyam University</a>

  <span>2025</span>
</main>

<a
  href="https://angular.io/"
  target="_blank"
  title="Angular"
  class="print:hidden flex items-center gap-1 group"
>
  <span>Powered by</span>
  <mat-icon
    svgIcon="angular"
    class="text-xl group-hover:text-rose-800 transition-all group-hover:scale-125"
  />
  <span>Angular</span>
</a>
