<a
  href="https://github.com/rahmaniali-ir/algorithms/issues"
  target="_blank"
  class="flex items-center gap-2"
>
  <svg-icon name="bug"></svg-icon>
  <span>Send feedback or report issues</span>
</a>

<main>
  <span>Made By</span>
  <a
    href="https://github.com/rahmaniali-ir"
    target="_blank"
    class="text-primary-500"
  >
    Ali Rahmani
  </a>

  <span>At</span>
  <a href="https://www.khayyam.ac.ir/" target="_blank">Khayyam University</a>
  <span>2023</span>
</main>

<a href="https://angular.io/" target="_blank" title="Angular">
  <span>Powered by</span>
  <svg-icon name="angular"></svg-icon>
  <span>Angular</span>
</a>
