@import ./style/variables
@import ./style/fonts
@import ./style/button

@tailwind base
@tailwind components
@tailwind utilities

*, *::before, *::after
  box-sizing: border-box

body
  @apply select-none bg-slate-100 text-slate-800
  font-family: "Roboto Condensed", serif
  font-size: 18px
  margin: 0

::selection
  background: var(--text-selection)

.equation
  align-items: center
  cursor: default
  display: inline-flex
  font-family: sans
  font-style: italic
  gap: 8px

.steps
  display: flex
  flex-direction: column
  gap: 16px

.preview
  background: var(--background)
  border-radius: var(--radius)
  padding: 8px

input.no-controls
  appearance: textfield
  
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    -webkit-appearance: none
