@use '@angular/material' as mat
@import ./style/variables
@import ./style/fonts
@import ./style/button
@import '@angular/material/prebuilt-themes/indigo-pink.css'

@tailwind base
@tailwind components
@tailwind utilities

*, *::before, *::after
  box-sizing: border-box

.mat-mdc-dialog-container
  @apply rounded-xl

  .mat-mdc-dialog-surface
    @apply rounded-xl bg-transparent backdrop-blur-md

html
  color-scheme: light dark

body
  @apply select-none bg-slate-100 text-slate-800
  font-family: "Roboto Condensed", serif
  font-size: 18px
  margin: 0

::selection
  background: var(--text-selection)

mat-icon
  height: 1em !important
  min-height: 1em !important
  min-width: 1em !important
  width: 1em !important

.equation
  align-items: center
  cursor: default
  display: inline-flex
  font-family: sans
  font-style: italic
  gap: 8px

.steps
  display: flex
  flex-direction: column
  gap: 16px

.preview
  background: var(--background)
  border-radius: var(--radius)
  padding: 8px

input.no-controls
  appearance: textfield
  
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    -webkit-appearance: none
