@import ./style/variables
@import ./style/fonts
@import ./style/button

@tailwind base
@tailwind components
@tailwind utilities

*, *::before, *::after
  box-sizing: border-box

body
  background: var(--background)
  color: var(--text)
  font-family: roboto, sans-serif
  font-size: 18px
  margin: 0

::selection
  background: var(--text-selection)

.fixed-background
  bottom: 0
  height: 100vh
  left: 0
  mix-blend-mode: luminosity
  object-fit: cover
  opacity: .3
  position: fixed
  width: 100vw
  z-index: -1

.no-print
  @media print
    display: none !important

.equation
  align-items: center
  cursor: default
  display: inline-flex
  font-family: sans
  font-style: italic
  gap: 8px

.steps
  display: flex
  flex-direction: column
  gap: 16px

.preview
  background: var(--background)
  border-radius: var(--radius)
  padding: 8px

input.no-controls
  appearance: textfield
  
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button
    -webkit-appearance: none
