@if(name) {
<header>
  {{ name }}
</header>
}

<main>
  @for(viewItem of viewItems; track $index) {
  <div
    [title]="viewItem.title"
    [ngClass]="viewItem.item.meta?.className"
    class="item"
  >
    @if(viewItem.topLabels.length) {
    <div class="labels top">
      <main>
        @for(label of viewItem.item.meta?.labels; track $index) {
        <div [ngClass]="label.className" [title]="label.label" class="label">
          @if(label.icon) {
          <mat-icon [svgIcon]="label.icon" />
          }

          <span>{{ label.label }}</span>
        </div>
        }
      </main>

      <mat-icon svgIcon="angleDown" />
    </div>
    }

    <input
      #input
      [(ngModel)]="viewItem.item.value"
      [style.--size]="viewItem.size"
      [readOnly]="!editable"
      (mouseup)="onInputMouseUp($index, $event)"
      class="no-controls"
      type="number"
    />
  </div>
  }
</main>

@if(editable) {
<footer>
  <button (click)="addItem()" class="button">
    <mat-icon svgIcon="plus" />
  </button>
</footer>
}
