<nav class="no-print">
  <!-- axis -->
  <check-box
    [(value)]="showAxis"
    uncheckedIcon="combinedRuler"
    checkedIcon="combinedRuler"
    label="Indices"
    description="Show indices"
  ></check-box>

  <!-- details -->
  <check-box
    [(value)]="showDetails"
    uncheckedIcon="infoCircle"
    checkedIcon="infoCircle"
    label="Details"
    description="Show name & size"
  ></check-box>
</nav>

<!-- matrices -->
<app-section header="Input" icon="keyboardIn" class="input">
  <!-- clear -->
  @if(matrices.length) {
  <button actions (click)="clear()" class="button placeholder clear">
    <mat-icon svgIcon="trash" />
    <span>Clear</span>
  </button>
  }

  <!-- matrices -->
  <div class="matrices">
    @for(matrix of matrices; track $index) {
    <div class="matrix">
      @if(!$first) {
      <mat-icon svgIcon="trash" class="times" />
      }

      <app-matrix
        [matrix]="matrix"
        [maxSize]="4"
        [showDetails]="showDetails"
        [showAxis]="showAxis"
        [readOnly]="true"
      ></app-matrix>
    </div>
    }

    <!-- add matrix -->
    <button
      (click)="createMatrix()"
      class="button vertical placeholder no-print"
    >
      <mat-icon svgIcon="addX" />

      @if(!matrices.length) {
      <span>Add First Matrix</span>
      } @else if(matrices.length === 1) {
      <span>Add Second Matrix</span>
      } @else if(matrices.length > 1) {
      <span>Add More</span>
      }
    </button>

    <!-- calculate result -->
    @if(matrices.length > 1 && !result) {
    <button
      (click)="multiply()"
      class="button vertical placeholder calculate no-print"
    >
      <mat-icon svgIcon="calculator" />
      <span>Calculate</span>
    </button>
    }

    <!-- result -->
    @if(result) {
    <div class="matrix">
      <mat-icon svgIcon="equal" class="equal" />

      <app-matrix
        [matrix]="result"
        [showDetails]="showDetails"
        [showAxis]="showAxis"
        [readOnly]="true"
      ></app-matrix>
    </div>
    }
  </div>
</app-section>

<!-- solution -->
<app-section header="Solution" icon="wrapText" class="solution">
  <main class="steps">
    @if(matrices.length) {
    <!-- input data -->
    <app-step header="Input data" icon="infoCircle">
      <div class="equation matrix-names">
        <div class="name">
          <span>Question :</span>
        </div>

        @for(name of matrixNames; track $index) {
        <div class="name">
          @if(!$first) {
          <mat-icon svgIcon="times" />
          }

          <span>{{ name }}</span>
        </div>
        }
      </div>

      <div class="equation dimensions">
        <span>Dimensions :</span>

        @for(d of dimensions; track $index) {
        <div class="equation">
          @if(!$first) {
          <span>,</span>
          }

          <span class="dimension">
            d
            <span class="index">{{ $index }}</span>
            =
            <span class="d">{{ d }}</span>
          </span>
        </div>
        }
      </div>
    </app-step>
    } @else {
    <app-step
      header="Multiply at least two matrices to get the solution!"
      icon="infoCircle"
    ></app-step>
    }

    <!-- possible orders -->
    @if(matrices.length > 2) {
    <app-step
      header="Possibles multiplication"
      icon="infoCircle"
      class="sequences"
    >
      <ul>
        @for(sequence of possibleSequences; track $index) {
        <li>
          <span class="equation">{{ sequence }}</span>
        </li>
        }
      </ul>
    </app-step>
    }

    <!-- m -->
    @if(m) {
    <app-step header="Minimum multiplications" icon="infoCircle">
      <div class="m equation">
        m
        <mat-icon svgIcon="equal" />

        <app-matrix
          [matrix]="m"
          [showDetails]="showDetails"
          [showAxis]="showAxis"
          [readOnly]="true"
        ></app-matrix>
      </div>
    </app-step>
    }
  </main>
</app-section>

<!-- notes -->
<app-section header="Notes" icon="landscapeFile" class="notes">
  Some content will be here soon!
</app-section>
