
:host
  border-radius: var(--radius)
  display: flex

a
  align-items: flex-start
  border-radius: inherit
  border: 2px solid var(--border)
  color: var(--text)
  display: flex
  flex: 1
  flex-direction: column
  isolation: isolate
  padding: 32px
  overflow: hidden
  position: relative
  text-decoration: none

  &:hover
    header svg-icon
      color: var(--accent)
      scale: 1.2

    .content header h3
      font-weight: 500

  &.hovered
    .background
      .shape > *
        scale: 1
        opacity: 1

  &::before, &::after, .background
    z-index: 0

  &::before
    backdrop-filter: blur(25px)

  &::after
    background: var(--background-accent)
    opacity: .5

  > *
    pointer-events: none

  .background
    overflow: hidden
    z-index: -1

    .shape
      position: absolute
      top: -50px

      &:nth-child(1)
        transition: all 6s linear

        svg-icon
          scale: 1.5
          rotate: 43deg

      &:nth-child(2)
        transition: all 5s linear

        svg-icon
          scale: 1

      &:nth-child(3)
        transition: all 4s linear

        svg-icon
          scale: .6
          rotate: 90deg

      > *
        transition: all 2s ease

    svg-icon
      animation: shape 15s ease-in-out alternate infinite
      color: var(--color, currentColor)
      border-radius: 50%
      height: 100px
      opacity: 0
      transform-origin: 50% 80%
      scale: .8
      width: 100px

  > svg-icon
    --height: 100%
    --width: 100%
    left: 100%
    opacity: .02
    position: absolute
    top: 100%
    translate: -90% -90%

  .content
    display: flex
    flex-direction: column
    flex: 1
    position: relative
    z-index: 2

    header
      align-items: center
      display: flex
      flex: 1

      h3
        font-weight: 300
        font-size: 24px
        margin: 8px 0 8px
        transition: all .3s ease

        svg-icon
          display: inline-block
          margin: 0 8px 4px 0
          vertical-align: middle

    p
      font-weight: 300
      font-size: 14px
      margin: 0
      opacity: .6
      transition: all .3s ease

@keyframes shape
  0%, 100%
    translate: 0 0

  0%
    rotate: 0deg

  50%
    translate: 0 -10%

  100%
    rotate: 360deg
